{% extends "prescreen/base.html" %}

{% block content %}
  <h1> {{ event.title }} </h1>
  {% if my_response %}
    <a href="{{ my_response.get_absolute_url }}"> View my response </a>
  {% else %}
    <a href="{% url 'response-create' event=event.uuid %}"> Create response </a>
  {% endif %}
  {% if is_creator %}
  <p>
  <a href="{% url 'event-update' pk=event.uuid %}"> Edit event details </a><br>
  <a href="{% url 'response-list' event=event.uuid %}"> View all responses </a>
  </p>
  {% else %}
    <p>You are not the creator of this event. The creator of this event is {{event.creator.user.username }}. </p>
  {% endif %}
{% endblock %}