  {% extends "prescreen/base.html" %}

  {% block content %}
    <h1> Title: {{ event.title }} </h1>
    {% if is_creator %}
    <a href="{% url 'event-update' pk=event.uuid %}"> Edit it </a>
    <p> Responses </p>
    {% for response in event.response_set.all %}
      <ul>
        <li>
          {{ response.account.user.username }}
          {{ response.temperature }}<br>
          {% for custom_response in response.customquestionresponse_set.all %}
          {{ custom_response.question }} - {{ custom_response.answer }}<br>
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
    {% else %}
      <p> You are not the creator of this event</p>
    {% endif %}
  {% endblock %}