{% extends "prescreen/base_generic.html" %}
{% block title %}
Home page
{% endblock %}
{% block content %}
<h1> CovidScreen Testing Home</h1>
<p> {{events|length}} Event{{ events|length|pluralize }}
    </p>
<ul>
    {% for event in events %}
        <li>
        <strong> Title: </strong> {{ event.title }} <br>
        <strong> Number of Responses: </strong> {{ event.num_responses }} <br>
        <strong> Created By: </strong> {{ event.creator.user.username }} <br>
        </li>
    {% endfor %}
</ul>
{% endblock %}